@media all and (max-width: 1200px) {
    .container {
        display: inline-block;
        padding:0px 6px;
        margin:0px 4px;
    }
}

@media all and (max-width: 840px) {
    .container{
        margin:0px;
        padding:0px;
        padding-left:5%;
        display:block;
        float:none;
        text-align:left;
    }
}

@media all and (max-width: 520px) {
    .container{
        padding-left:20%;
    }
}